@import 'bootstrap/bootstrap';
@import 'colors';
@import 'respond-to';
@import 'bs-buttons';


// --- Base ---
html, body {
  height: 100%;
  background-color: $gray1;
}


// --- Layout ---
.ly-outer-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ly-inner-wrap {
  position: relative;
  width: 100%;
  right: 0;
  @include transition(right 200ms);
  &.pushed {
    right: 80%;
    &.pushed-two-level {
      right: 90%;
    }
  }

  @include respond-to(screen-md) {
    &.pushed {
      right: 0;
      &.pushed-two-level { right: 0; }
    }
  }
}


// --- Modules ---
@import 'modules/post-item';
@import 'modules/local-nav';


// --- Sections ---
@import 'sections/navbar';
@import 'sections/banner';
@import 'sections/content';
@import 'sections/map-block';
@import 'sections/footer';
@import 'sections/calendar-jumbo';
@import 'sections/page';
@import 'sections/donate';
@import 'sections/events-calendar';
@import 'sections/post';
